.overall{
    width: 50%;
    margin: 100px auto;
}
.tape {
width: 0; height: 0; 
border-width: 200px 20px 20px;
border-style: solid;
border-color:  #E95557 #E95557 white;
transform: rotate(90deg);
}
.tape>div{
   background-color: aqua;
    transform: rotate(-90deg);
    margin-top: -20px;
    
    
    
}